@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
}

body {
  max-width: 1225px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: rgb(249, 250, 255);
}
body .header {
  z-index: 1;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
body .header .nav {
  display: flex;
}
body .header .nav .header__logo {
  margin: 15px 253px 0px 0px;
}
body .header .nav .header__list {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: 28px 304px 0px 0px;
}
body .header .nav .header__list .header__item .header__link {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
  color: rgb(61, 61, 63);
  transition: 0.5s;
}
body .header .nav .header__list .header__item .header__link:hover {
  color: rgb(243, 95, 47);
  text-shadow: 0 0 10px rgb(243, 95, 47);
}
body .header .nav .header__btn-signln {
  width: 118px;
  height: 42px;
  border-radius: 5px;
  border: none;
  background-color: rgb(243, 95, 47);
  margin: 17px 0px 0px 0px;
  color: #fff;
  transition: 1s;
}
body .header .nav .header__btn-signln:hover {
  box-shadow: 0 0 20px rgb(243, 95, 47);
  background-color: #fff;
  color: rgb(243, 95, 47);
}
body main .sectione-1 .box {
  display: flex;
  margin: 176px 0px 0px 0px;
}
body main .sectione-1 .box .contetnt .text-1 {
  font-family: "DM Sans", sans-serif;
  font-size: 72px;
  font-weight: 500;
  line-height: 85.32px;
  color: rgb(61, 61, 63);
}
body main .sectione-1 .box .contetnt .text-2 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  color: rgb(61, 61, 63);
  margin: 40px 61px 40px 0px;
}
body main .sectione-1 .box .contetnt .but {
  width: 219px;
  height: 53px;
  border-radius: 5px;
  background-color: rgba(243, 95, 47, 0.75);
  border: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  transition: 1s;
}
body main .sectione-1 .box .contetnt .but:hover {
  background-color: #fff;
  color: rgba(243, 95, 47, 0.75);
  border: 1px solid rgba(243, 95, 47, 0.75);
  box-shadow: 0 0 20px rgba(243, 95, 47, 0.75);
}
body main .sectione-1 .box img {
  margin: -60px 0px 0px 0px;
}
body main .sectione-2 .text {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52.08px;
  text-align: center;
  color: rgb(61, 61, 63);
  margin: 149px 0px 55px 0px;
}
body main .sectione-2 .box {
  display: flex;
  width: 1170px;
  height: 314px;
  border-radius: 17px;
  border: 2px solid rgba(235, 235, 235, 0.8);
  padding: 84px 0px 0px 130px;
  gap: 247px;
}
body main .sectione-2 .box .cart .img-1 {
  margin: 0px 0px 23px 50px;
  width: 99px;
  height: 90px;
}
body main .sectione-2 .box .cart .img-2 {
  margin: 0px 0px 23px 15px;
  width: 99px;
  height: 90px;
}
body main .sectione-2 .box .cart .text-3 {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.87px;
  text-align: center;
  margin: 0px 0px 13px 0px;
}
body main .sectione-2 .box .cart .text-4 {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: center;
}
body main .sectione-3 .text-7 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52.08px;
  margin: 60px 0px 160px 0px;
}
body main .sectione-3 .but {
  gap: 91px;
  display: flex;
  margin: 0px 0px 0px 80px;
}
body main .sectione-3 .but .cart {
  width: 356px;
  height: 222px;
  border-radius: 23px;
  background-color: #fff;
  box-shadow: 0px 15px 20px #a3a2a2;
  padding: 75px 0px 0px 0px;
}
body main .sectione-3 .but .cart .img {
  position: absolute;
  width: 102px;
  height: 102px;
  top: 1380px;
  left: 912px;
  border-radius: 555px;
  padding: 47px 0px 0px 47px;
  background-color: rgb(255, 121, 80);
  box-shadow: 0 0 20px #d9d9d9;
}
body main .sectione-3 .but .cart .img_ {
  position: absolute;
  width: 102px;
  height: 102px;
  top: 1380px;
  left: 1322px;
  border-radius: 555px;
  padding: 47px 0px 0px 47px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px #d9d9d9;
}
body main .sectione-3 .but .cart .img_- {
  position: absolute;
  width: 102px;
  height: 102px;
  top: 1380px;
  left: 505px;
  border-radius: 555px;
  padding: 47px 0px 0px 47px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px #d9d9d9;
}
body main .sectione-3 .but .cart .text-5 {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.25px;
  text-align: center;
}
body main .sectione-3 .but .cart .text-6 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 10px 0px 24px 0px;
}
body main .sectione-3 .but .cart .ikon {
  margin: 0px 0px 0px 155px;
}
body main .sectione-4 .text {
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52.08px;
  text-align: center;
  margin: 120px 0px 55px 0px;
}
body main .sectione-4 .box .carte {
  display: flex;
  gap: 25px;
  margin: 0px 0px 25px 0px;
}
body main .sectione-4 .box .carte .dibe {
  width: 392px;
  height: 368px;
  box-shadow: 0px 15px 10px #d6d6d6;
  border-radius: 10px;
  background-color: #fff;
}
body main .sectione-4 .box .carte .dibe .text-1 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  text-align: center;
  margin: 19px 0px 0px 0px;
}
body main .sectione-4 .box .carte .dibe .text-2 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  text-align: center;
  margin: 19px 0px 0px 0px;
}
body main .sectione-4 .box .but-2 {
  width: 242px;
  height: 53px;
  border-radius: 5px;
  margin: 32px 0px 0px 506px;
  background-color: rgba(243, 95, 47, 0.75);
  color: #fff;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  transition: 1s;
}
body main .sectione-4 .box .but-2:hover {
  background-color: #fff;
  color: rgba(243, 95, 47, 0.75);
  box-shadow: 0 0 20px rgba(243, 95, 47, 0.75);
  border: 1px solid rgba(243, 95, 47, 0.75);
}
body main .sectione-5 .text {
  font-size: 40px;
  font-weight: 700;
  line-height: 52.08px;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  margin: 120px 0px 44px 0px;
}
body main .sectione-5 .box {
  display: flex;
  gap: 36px;
}
body main .sectione-5 .box .carte {
  width: 267px;
  height: 400px;
  border: 8px;
  background-color: rgb(238, 239, 241);
}/*# sourceMappingURL=stail.css.map */