.section-6 {
  margin-top: 120px;
  .section-6__div {
    .sectio-6__text {
      color: rgba(61, 61, 63, 1);
      font-family: "DM Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 52.08px;
      text-align: left;
      margin-left: 486px;
    }
    .section-6__img {
      margin-left: 127px;
      margin-top: -80px;
    }
    .section-6__info {
      width: 319px;
      height: 140.39px;
      background-color: #fff;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      display: grid;
      position: relative;
      top: -130px;
      left: 670px;
      .section-6__text-1 {
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.83px;
        text-align: center;
        color: rgba(81, 81, 85, 1);
      }
      .section-6__text-2 {
        font-family: "DM Sans", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 26.83px;
        text-align: center;
        color: rgba(243, 95, 47, 0.75);
        margin-top: -20px;
      }
      .section-6__text-3 {
        font-family: "DM Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.83px;
        text-align: center;
        color: rgba(81, 81, 85, 1);
        margin-top: -20px;
      }
    }
  }
}
